@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: azure;
}
.div1{
    background-color: white;
    height: 24.8rem;
    width: 21rem;
    line-height: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    margin-left: 35%;
}
.sec3{
    margin-left: 35%;
    margin-top: -1rem;
    width: 21rem;
}
.div2 input{
    width: 15.5rem;
    height: 2rem;
    font-size: small;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: whitesmoke;
    border-width: 0.5px;
    outline: none;
    font-family: 'Merriweather Sans', sans-serif;
}
.div2{
    margin-top: 3rem;
}
.fbclass{
    text-decoration: none;
    padding-left: 5.5rem;
}
.div1 h1{
    font-size:3rem;
    font-weight:900;
    font-family: 'Grand Hotel', cursive;
    padding-left: 5.5rem;
    padding-top: 2rem;
}
.forget{
    text-decoration: none;
    padding-left: 7.5rem;
    color: black;
    font-size:small;
}
.forget:hover{
    color: black;
}
.button button{
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: larger;
    background-color: #2196F3;
    height: 2rem;
    width: 15.7rem;
    margin-left: 2.4rem;
    margin-top: 0.5rem;
    font-size: smaller;
    font-family: 'Jost', sans-serif;
}
button:hover{
    background-color: #2196F3;
    cursor: pointer;
}
input:focus{
    outline: none;
}
.hrdiv{
    display: flex;
}
.logtext{
    color: rgb(59, 89, 152);
    font-family: 'Jost', sans-serif;
}
.fbicon{
    color: rgb(59, 89, 152);
    padding-right: 0.5rem;
    margin-top: 2rem;

}
h4{
    margin-left: 10rem;
    margin-top: 1rem;
    color: rgb(109, 106, 106);
}
.div3 h4{
    background-color: white;
    height: 4rem;
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
        border-style: solid;
    border-width: 1px;
    border-color: silver
}
.div3{
    margin-left: -10rem;
    margin-bottom: 1rem;
}
.div3 a{
    text-decoration: none;
    color: #2196F3;
    font-family: 'Crimson Text', serif;
    padding-left: 0.5rem;
}
.div4 h4{
    font-family: 'Merriweather Sans', sans-serif;
    
}
body{
    background-color: azure;
}
.div1 h4{
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
}
@media only  screen and (max-width:600px) {
    .div4 h4{
        margin-left: 45%;
    }
    .div1{
        margin-left: 21%;
    }
    .sec3{
        margin-left: 21%;
    }
    .buttonsdown{
        margin-left: 27%;
        margin-top: 2%;
    }
    .mainsec{
        margin-top: 0.5rem;
    }
    .outerdiv{
        visibility: hidden;
    }
    .outerdiv{
        border-style: groove;
        border-width: 1rem;
        border-color: black;
        border-radius: 2rem;
        width: 20rem;
        margin-top: 1rem;
        height: 0rem;
    }
}

@media only  screen and (min-width:768px) {
    .div4 h4{
        margin-left: 64%;
    }
    .buttonsdown{
        display: flex;
        margin-left: 47.5%;
        margin-top: 7%;
        justify-items:space-around;
    }
    .mainsec{
        margin-left: 20rem;
        position: absolute;
        top: 2rem;
    }
    .outerdiv{
        visibility: visible;
    }
    .playanch{
        margin-right: 1rem;
    }
}
@media only  screen and (min-width:900px) {
    .div4 h4{
        margin-left: 16.5rem;
    }
    .buttonsdown{
        margin-left: 12rem;
        margin-top: 5%;
    }
    .mainsec{
        margin-top: 2rem;
    }
    .fediv{
        display: flex;
        margin-left: 25%;
        visibility: visible;
    }
    .outerdiv{
        border-style: groove;
        border-width: 1rem;
        border-color: black;
        border-radius: 2rem;
        width: 20rem;
        margin-top: 2rem;
        height: 35rem;
    }
}
.appbutton{
    background-color: black;
    color: white;
    border-style: none;
    height: 2.5rem;
    width: 8.4rem;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-size: large;
}
.playbutton{
    background-color: black;
    color: white;
    border-style: none;
    height: 2.5rem;
    width: 8.4rem;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-size: large;
}
.buttonsdown button:hover{
    background-color: black;
}

.innersubdiv{
    border-style: groove;
    border-width: 1rem;
    border-color: black;
    border-radius: 2rem;
    width: 20rem;
    margin-left: 5rem;
    height: 35rem;
    position: absolute;
    top: 2rem;
}
img{
    height: 33rem;
    border-radius: 1rem;
}